<html>
    <%-include('static/header')%>

    <body>
        <div class="container-fluid pt-4">

        <div class="row mx-auto d-flex align-itens-center">
            <a href="/" class="btn btn-primary col-4">
                <span data-feather="arrow-left"></span>
                Voltar
            </a>
            <div class="col">
                <h5> Consultar Chamado</h5>
            </div>
        </div>

        <table class="table table-responsive mt-3">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">SSM</th>
                    <th scope="col">Maq.</th>
                    <th scope="col">Prioridade</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><?php echo $linha['id']; ?> </td>
                    <td><?php echo $linha['ssm']; ?> </td>
                    <td><?php echo $linha['maquina']; ?> </td>
                    <td><?php echo $linha['prioridade'];?></td>
                    <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal<?php echo $linha['id'];?>" ><span data-feather="edit"></span></button></td>	
                </tr>

                    <div class="modal fade bs-example-modal-lg" tabindex="-1" id="modal<?php echo $linha['id']; ?>" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel"><?php echo $linha['id']; ?></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    
                                </div>
                                <div class="modal-body">
                                    <?php
                                        echo "<p><b>Ordem de Serviço n°</b>" . $linha['id'] . ".<br> <b>Registrado por</b> ". $linha['nome'] ."</p>";
                                        echo "<hr/>";
                                        echo "<p><b> Data: </b>" . $linha['data'] ."</p>";
                                        echo "<p><b> Máquina: </b>" . $linha['maquina'] ."</p>";
                                        echo "<p><b> Ocorrência : </b>";
                                        echo $linha['ocorrencia'] . "</p>";
                                        echo "<hr/>";

                                        echo "<p class=''><b> Prioridade: </b>" . $linha['prioridade'] ."</p>";	 
                                        echo "<p><b> Descrição: </b>" . $linha['txt'] ."</p>";	 
                                    ?>

                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="finalizar.php">
                                        <input name="idOs" type='hidden' value="<?php echo $linha['id']?>">
                                        <input type="submit" class="btn btn-success" value="Finalizar Chamado">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><span data-feather="x-circle"></span></button>
                                    </form>	
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
            </tbody>
        </table>

    </div>

    </body>
</html>