<!DOCTYPE html>
<html lang="pt-br">
    <%- include('static/header') %>
    <body>
        <div class="container-fluid pt-4" id="app">

            <div class="row mx-auto d-flex align-itens-center">
                <a href="/" class="btn btn-primary col-4">
                    <span data-feather="arrow-left"></span>
                    Voltar
                </a>
                <div class="col">
                    <h5> Cadastrar Chamado {{message}}</h5>
                </div>
            </div>

            <form class="mt-3" method="POST">
                <div class="form-group">
                    <label for="">SSM:</label>
                    <select class="form-control" name="ssm" id="ssm" @change="fetchOcorrencia" required>
                        <option value="" selected disabled>Selecione uma opção</option>
                        <option value="1">Manutenção corretiva</option>
                        <option value="2">Meio Ambiente</option>
                        <option value="3">Segurança</option>
                        <option value="3">TPM</option>
                    </select>
                </div>

                <div class="form-group border-bottom">
                    <label for="">Ocorrência</label>
                    <select class="form-control" name="ocorrencia" id="ocorrencia" required>
                        <option value="" selected disabled> Selecione </option>
                        <option v-for="ocorrencia in ocorrenciaItens" :value="ocorrencia.id"> {{ ocorrencia.nome }} </option>
                    </select>
                </div>

                <div class="form-group border-bottom">
                    <label for="">Nome:</label>
                    <input class="form-control" name="nome" type="text" required>
                </div>

                <div class="form-group border-bottom">
                    <label for="data">Data:</label>
                    <input class="form-control" name="data" type="date" required>
                </div>

                <div class="form-group border-bottom">
                    <label for="maquina">Maquina</label>
                    <select class="form-control" name="maquina" id="" required>
                        <option value="" selected disabled>Selecione uma maquina</option>
                        <option value="01">Máquina 01</option>
                        <option value="02">Máquina 02</option>
                        <option value="03">Máquina 03</option>
                        <option value="04">Máquina 04</option>
                        <option value="05">Máquina 05</option>
                        <option value="06">Máquina 06</option>
                        <option value="07">Máquina 07</option>
                        <option value="08">Máquina 08</option>
                        <option value="09">Máquina 09</option>
                        <option value="10">Máquina 10</option>
                    </select>
                </div>

                <div class="form-group border-bottom">
                    <label for="prioridade">Prioridade</label>
                    <select class="form-control" name="prioridade" id="" required>
                        <option value="" selected disabled>Selecione A Prioridade.</option>
                        <option value="baixa">Baixa</option>
                        <option value="média">Média</option>
                        <option value="alta">Alta</option>
                    </select>
                </div>

                

                <div class="form-group border-bottom">
                    <label for="txt">Observação:</label>
                    <textarea class="form-control" name="txt" id=""  placeholder="Observação" required></textarea>
                </div>

                <div class="form-group border-bottom ">
                    <button  type="submit" class="btn btn-primary mb-2 col">Criar</button>
                </div>

            </form>
        </div>

        <script type="text/javascript">
            let app = new Vue({
                el: '#app',
                data: {
                    message: 'Olá Vue.js!',
                    ocorrenciaItens : []
                },
                methods : {
                    fetchOcorrencia(event){
                        fetch("http://localhost:3000/ocorrencias/" + event.target.value)
                        .then(data => data.json())
                        .then(this.popularSelect)
                        .catch(this.popularSelectError);
                    },
                    popularSelect(data){
                        this.ocorrenciaItens = data;
                    },
                    popularSelectError(error){

                        this.ocorrenciaItens = [{id : "" , mensagem : "Erro, por favor tentar novamente"}]
                        console.error(`Erro na solicitação ajax : \n ${error}`);
                    }
                }
            })

        </script>
    </body>
</html>