<html>
    <%-include('static/header')%>
    <body>
        <div class="container-fluid pt-4" id="app">

            <div class="row mx-auto d-flex align-itens-center mb-4">
                <a href="/" class="btn btn-primary col-4">
                    <span data-feather="arrow-left"></span>
                    Voltar
                </a>
                <div class="col">
                    <h5> Graficos: {{ Graficos }}</h5>
                </div>
                <button class="btn btn-primary" @click="atualizarChart">Gerar Grafico</button>

                <canvas id="myChart" width="300" height="400"></canvas>
            </div>
        </div>

        <script src="javascripts/Graficos.js"></script>
        <script type="text/javascript">

            new Vue({
                el: '#app',
                data: {
                    dados: Graficos,
                },
                methods: {
                    //atualiza o grafico
                    atualizarChart(){
                        let ctx = document.getElementById("myChart").getContext('2d');
                        const myCharts = new Chart(ctx,{
                            type: Graficos.type,
                            data: Graficos.data,
                            options: Graficos.options,
                        });
                        
                    }
                }
            })

        </script>
    </body>
</html>